.button{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: 800;
    cursor: pointer;
    background-color: red;
     outline: none; 
    padding: 18px 50px;
    border-radius: 3px;


}