nav{
    width: 100%;

    position: absolute;
    top: 0;
    z-index: 10;
    padding: 40px 0;
}

container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
    

#burgerMenu{
    cursor: pointer;
   /* //margin-left: 0px; */
    color: rgb(245, 16, 16);
    width: 100px;
}

/* @media (max-width: 1200px) {
    container {
      max-width: 1200px;
      button {
        display: none;
      }
      #burgerMenu {
        display: block;
      }
    }
    font-family: Jura,Helvetica,Arial,sans-serif;
  } */