.nav {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 40px 0;
}
.container {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#burgerMenu {
  cursor: pointer;
  display: none;
}
